
  <div class="c27">
    <div>
      <p class="c6 c10"><span class="c18"></span></p>
    </div>
    <p class="c23">
      <span class="c36"
        >Terms &amp; Conditions of Digital Marketing Services &amp;
        Payments</span
      >
    </p>
    <p class="c6 c10"><span class="c20"></span></p>
    <p class="c6 c10"><span class="c20"></span></p>
    <p class="c3"><span class="c9">Introduction:</span></p>
    <p class="c12">
      <span class="c21"
        >THESE CONDITIONS OF OUR DIGITAL MARKETING SERVICES &amp; PAYMENTS</span
      ><span class="c8"
        >&nbsp;(the Conditions) are an integrated agreement between Customer and
        Company consisting of these Conditions, the terms contained in the
        invoice issued by Company to Customer and referencing these Conditions
        (the Terms), any agreement(s) entered into between Customer and Company
        and any attachments, instructions or requirements appurtenant to any of
        the foregoing (each of the foregoing comprising this agreement and
        referred to herein as the Agreement). This Agreement is binding with
        respect to all business conducted between Customer and Company and
        applies to and controls all agreements related to the provision of
        services by Company to Customer.</span
      >
    </p>
    <p class="c6 c10"><span class="c33"></span></p>
    <p class="c6 c10"><span class="c20"></span></p>
    <p class="c3"><span class="c9">Definitions:</span></p>
    <p class="c12">
      <span class="c4"
        >1. &nbsp;Any capitalized term used in this Agreement but not otherwise
        defined shall have the meaning set forth below:</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >1.1. &nbsp;&ldquo;Company&rdquo; means DCinsites, a California company
        located in Sonoma &nbsp;also known as DCi.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >1.2. &nbsp;&ldquo;Confidential Information&rdquo; means confidential,
        proprietary or non-public information regarding the Company or its
        business, whether or not reduced to writing or marked as confidential,
        proprietary or non-public. Confidential Information shall specifically
        include any and all information as to the Company&rsquo;s proprietary
        designs, products and services, any portion thereof and any
        improvements, innovations, additions, accretions, changes, alterations
        or modifications thereto of any kind or nature whatsoever. Confidential
        Information also includes, but is not limited to, the following types of
        information and other information of a similar nature: works,
        discoveries, trade secrets, ideas, concepts, designs, personal
        contractual relationships, projects, courses of dealing, drawings,
        specifications, improvement, inventions, original works of authorship
        relating to the Company (including manuals), building and plan designs,
        techniques, models, data, documentation, diagrams, flow charts,
        research, development, processes, formulae, computer systems, data,
        algorithms, source codes, object codes, html codes and scripts,
        procedures, methodologies, &ldquo;know-how,&rdquo; marketing techniques
        and materials, marketing and development plans, actual and potential
        customer and vendor names and lists, lead lists, and other information
        related to customers and vendors, price lists, pricing policies, methods
        of conducting and obtaining business, and financial information.
        Confidential Information also includes any information described herein
        which the Company obtains from a third party and which the Company
        treats as proprietary or confidential, whether or not owned by or
        developed by the Company. Confidential Information shall not, however,
        include: (i) any information that is already in the possession of
        Customer at the time of disclosure by the Company by reasons unrelated
        to Customer&rsquo;s relationship with the Company as shown by
        Customer&rsquo;s files and records existing prior to the time of
        disclosure by the Company; (ii) any information that is independently
        developed by Customer outside the scope of and unrelated to
        Customer&rsquo;s relationship with the Company and without reference to
        or reliance on any Confidential Information, as shown by
        Customer&rsquo;s files and records prior to the time of disclosure by
        the Company; (iii) any information that is at any time provided to
        Customer by a third party without any breach of Customer&rsquo;s
        obligations hereunder or any breach of such third party&rsquo;s
        obligations to the Company or to any other party; or (iv) information
        and business relationships subsequently developed by Customer through
        Customer&rsquo;s use of Data in accordance with the terms hereof.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >1.3. &nbsp;&ldquo;Customer&rdquo; means the Person that orders the
        Services and is responsible for the payment of fees under, and
        compliance with, this Agreement.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >1.4. &nbsp;&ldquo;Effective Date&rdquo; means the day that is the
        earlier of Customer: (i) agreeing to the Terms of the Company upon
        signing up for services with the Company; or (ii) tendering payment to
        Company in accordance with the Terms.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >1.5. &nbsp;&ldquo;Person&rdquo; means any individual, corporation,
        limited liability company, trust, joint venture, association, company,
        limited or general partnership, unincorporated organization,
        governmental authority, or other entity.</span
      >
    </p>
    <p class="c6 c10"><span class="c33"></span></p>
    <p class="c6 c10"><span class="c20"></span></p>
    <p class="c3"><span class="c9">Company Services:</span></p>
    <p class="c24">
      <span class="c4"
        >Company shall provide to customer such digital marketing services as
        specified in the Terms, which may include, without limitation, website
        development and maintenance, search engine optimization, and social
        media advertising (the &ldquo;Services&rdquo;).</span
      >
    </p>
    <p class="c3"><span class="c9">Customer Agreement:</span></p>
    <p class="c12">
      <span class="c4"
        >3.1. &nbsp;Payment. Customer shall tender payment to Company in
        accordance with the Terms. All payments are non-refundable. Any taxes
        are the responsibility of Customer. There shall be no deduction in
        respect of any such taxes, or any offset against payment for any taxes;
        and all payments shall be grossed up to take account of any withholding
        taxes. In the event Customer has not made payment within thirty (30)
        days of the invoice date, the Company may, in its sole discretion,
        cancel the invoice and issue new Terms.</span
      >
    </p>
    <p class="c5"><span class="c4"></span></p>
    <p class="c12">
      <span class="c8"
        >The Customer agrees that the debit/credit card details provided by him/
        her for use of the aforesaid Services must be correct and accurate and
        that the Customer shall not use a Debit/ credit card, that is not
        lawfully owned by him/ her or the use of which is not authorized by the
        lawful owner thereof. The Customer further agrees and undertakes to
        Provide correct and valid debit/credit card details.
      </span>
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c8"
        >The Customer may pay his/ her application/initial fees to Company by
        using a debit/credit card. The Customer warrants, agrees and confirms
        that when he/ she initiates a payment transaction and/or issues an
        online payment instruction and provides his/ her card details:
      </span>
    </p>
    <p class="c5"><span class="c8"></span></p>
    <ul class="c30 lst-kix_list_2-1 start">
      <li class="c12 c17">
        <span class="c8"
          >The Customer is fully and lawfully entitled to use such credit /
          debit card for such transactions;
        </span>
      </li>
      <li class="c12 c17">
        <span class="c8"
          >The Customer is responsible to ensure that the card &nbsp;details
          provided by him/ her are accurate;
        </span>
      </li>
      <li class="c12 c17">
        <span class="c8"
          >The Customer authorizes the debit of the nominated card &nbsp;for the
          Payment of fees selected by such Customer along with the applicable
          Fees.</span
        >
      </li>
      <li class="c12 c17">
        <span class="c8"
          >The Customer is responsible to ensure that sufficient credit is
          available on the nominated card &nbsp;at the time of making the
          payment to permit the Payment of the dues payable or fees dues
          selected by the Customer inclusive of the applicable Fee. &nbsp;</span
        ><span class="c14"><br /></span>
      </li>
    </ul>
    <p class="c12">
      <span class="c8"
        >Payment(s) through the Company may only be made with a Credit Card or
        Debit Card. Before using the Company, it is recommended that the user
        shall make necessary enquiry about the charges or fees payable against
        the Credit/Debit card used from Credit Card or the Debit Card service
        provider i.e. the respective Bank.
      </span>
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c8"
        >The credit card information supplied at the time of using the service
        is processed by the payment gateway of the service provider and is not
        supplied to Company. It is the sole responsibility of the Customer of
        the service to ensure that the information entered in the relevant
        fields are correct. It is recommended that you take and retain a copy of
        the transaction for record keeping purposes, which might assist in
        resolution of any disputes that may arise out or usage of the
        service.</span
      ><span class="c14"><br /></span>
    </p>
    <p class="c12">
      <span class="c8"
        >The Customer agrees, understands and confirms that his/ her personal
        data including without limitation details relating to debit/credit card
        transmitted over the Internet may be susceptible to misuse, hacking,
        theft and/ or fraud and that Company or the Payment Service Provider(s)
        have no control over such matters.
      </span>
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c8"
        >The service is provided using a payment gateway service provider
        through a secure website. However, neither the payment gateway service
        provider nor Company gives any assurance, that the information so
        provided online by a user is secured or may be read or intercepted by a
        third party. Company does not accept or assume any liability in the
        event of such unauthorized interception, hacking or other unauthorized
        access to information provided by a user of the service.
      </span>
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c8"
        >Company and/or the Payment Service Providers shall not be liable for
        any inaccuracy, error or delay in, or omission of (i) any data,
        information or message, or (ii) the transmission or delivery of any such
        data, information or message; or (iii) any loss or damage arising from
        or occasioned by any such inaccuracy, error, delay or omission,
        non-performance or interruption in any such data, information or
        message. Under no circumstances shall Company and/or the Payment Service
        Providers, its employees, directors, and its third party agents involved
        in processing, delivering or managing the Services, be liable for any
        direct, indirect, incidental, special or consequential damages, or any
        damages whatsoever, including punitive or exemplary arising out of or in
        any way connected with the provision of or any inadequacy or deficiency
        in the provision of the Services or resulting from unauthorized access
        or alteration of transmissions of data or arising from suspension or
        termination of the Service. </span
      ><span class="c14"><br /></span>
    </p>
    <p class="c12">
      <span class="c8"
        >The Customer agrees that Company or any of its employees will not be
        held liable By the Customer for any loss or damages arising from your
        use of, or reliance upon the information contained on the Website, or
        any failure to comply with these Terms and Conditions where such failure
        is due to circumstance beyond Company&rsquo;s reasonable control.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >3.2. &nbsp;Representation and Warranties. Customer is responsible for
        its own responsiveness to communications and inquiries from Company and
        acknowledges that any lack of responsiveness could materially impact the
        effectiveness of the Services. Customer represents and warrants that, to
        the best of Customer&rsquo;s knowledge, any and all information or data
        that Customer, including its agents or representatives, has provided or
        will provide to Company in connection with the Services is and will be
        accurate and complete. Customer represents and warrants that any
        information provided to Company pursuant to this Agreement does not
        violate any applicable law or regulation; does not infringe any
        third-party rights in any way, including copyright, patent, trademark,
        trade secret, or other intellectual property right, or right of privacy
        or publicity; is not false or misleading; has not and will not result in
        any consumer fraud, product liability, breach of contract, injury,
        damage, or harm of any kind to any person or entity; is not defamatory,
        libelous, slanderous, or threatening; is free of viruses; does not
        contain, promote, or offer any form of spyware, adware, or other
        advertising or information collection software; and does not contain,
        link to, or promote violence, hate crimes (whether racial or otherwise),
        illegal activities, or discrimination based on race, sex, religion,
        nationality, disability, sexual orientation, or age.</span
      >
    </p>
    <p class="c6 c10"><span class="c33"></span></p>
    <p class="c6 c10"><span class="c20"></span></p>
    <p class="c3"><span class="c9">No Fault:</span></p>
    <p class="c12">
      <span class="c4"
        >3.3. &nbsp;Customer acknowledges that third parties may access
        Customer&rsquo;s website(s) and therefore will not hold Company or its
        affiliates liable or responsible for the activities of visitors who come
        to Customer&rsquo;s website(s) as a result of the Services. Customer
        acknowledges and agrees that it will not hold Company or its affiliates
        liable for any errors in content, omissions, consequences, damages,
        costs, refunds, or rebates of any kind arising from any interruption of
        service or other unavailability of the Internet or website(s). Customer
        further acknowledges and agrees that errors or mistakes in the
        performance of the Services, including but not limited to misspellings
        or miscommunications, do not create a right to refund for the Customer.
        Customer will give Company timely notice and allow Company a reasonable
        opportunity thereafter to cure any identified errors or omissions.
        Customer acknowledges that Company makes no representations or
        warranties relating to the results of the Services, including without
        limitation, the number of impressions, click-throughs, or leads, and any
        promotional effect or return on investment thereof. If Company relies on
        third parties for certain data, Company makes no guarantees regarding
        the accuracy, reliability, or completeness of any such data, including
        usage statistics.</span
      >
    </p>
    <p class="c6 c10"><span class="c33"></span></p>
    <p class="c6 c10"><span class="c20"></span></p>
    <p class="c3"><span class="c9">Term:</span></p>
    <p class="c12">
      <span class="c4"
        >4.1. &nbsp;Effectiveness of Agreement. Customer agrees to be bound by
        this Agreement and this Agreement shall become effective upon the
        Effective Date.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >4.2. &nbsp;Term of the Agreement. This Agreement shall continue in
        effect from the Effective Date until Customer completes payment of all
        invoiced amounts, or as provided in the Terms, whichever is later,
        except for any provisions of this Agreement that survive
        termination.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >4.3. &nbsp;Termination. Notwithstanding anything to the contrary
        contained herein, Company may terminate this Agreement and immediately
        cease providing the Services hereunder, in the event: (i) of
        Customer&rsquo;s breach of this Agreement; (ii) any representation or
        warranty made by Customer hereunder is reasonably determined by Company
        to be false or inaccurate; or (iii) that, in the reasonable
        determination of Company, Customer is using the Services in an effort to
        threaten, intimidate, annoy, abuse or harass or is otherwise using the
        Services to promote a morally repugnant matter. In the event of any of
        the foregoing and Company desires to exercise it right to terminate
        hereunder, Company shall send notice to Customer describing the
        violation, and then, if the matter remains uncured to Company&rsquo;s
        Satisfaction for fifteen (15) days, this Agreement shall thereupon
        terminate automatically.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >4.4. &nbsp;Refusal to Provide the Services. Notwithstanding anything to
        the contrary contained herein, Company may refuse to provide the
        Services hereunder if, in its sole discretion, Company determines that
        any information, material or content to be used in connection with the
        Services is objectionable, inappropriate or detrimental to the
        reputation of Company. The foregoing includes, without limitation, any
        graphics or formatting that disrupts the continuity of the
        Customer&rsquo;s or Company&rsquo;s websites.</span
      >
    </p>
    <p class="c6 c10"><span class="c33"></span></p>
    <p class="c6 c10"><span class="c20"></span></p>
    <p class="c3"><span class="c9">Miscellaneous:</span></p>
    <p class="c12">
      <span class="c4"
        >5.1. &nbsp;No Guarantee. Unless agreed to in writing, Company makes no
        express, implied or implicit guarantee with respect to the effectiveness
        of the Services.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.2. &nbsp;Confidential Information. Customer acknowledges that during
        the course of the Agreement, it may have access to certain Confidential
        Information of Company. During the term of this Agreement and for a
        period of two (2) years following the termination of this Agreement for
        any reason, within the geographical region of the United States of
        America and its territories, Customer shall, to the fullest extent
        permitted by law: (i) not disclose the Confidential Information to any
        third party, (ii) not use the Confidential Information in any fashion
        except for its own personal purposes, as intended under this Agreement,
        (iii) exercise reasonable care to prevent disclosure of the Confidential
        Information, and (iv) promptly notify Company of any unauthorized
        disclosure or use of the Confidential Information or compelled
        disclosure or use. If Customer becomes legally compelled to disclose any
        of Company&rsquo;s Confidential information, Customer will immediately
        notify Company of that requirement so that Company may seek a protective
        order or other appropriate remedy. &nbsp;Customer acknowledges that
        breach of the covenants contained herein will cause irreparable harm to
        the disclosing party entitling the Company to injunctive relief, among
        other remedies, against any breach or threatened breach, without waiving
        or affecting any claim for damages or other relief.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.3. &nbsp;Non-Solicitation. To the fullest extent permitted by law,
        during the term of this Agreement and for one (1) year thereafter,
        Customer shall not directly or indirectly, either alone or in concert
        with others, on Customer&rsquo;s own behalf or on behalf of any other
        person or entity, solicit, or attempt to persuade or solicit any
        employee of Company to terminate his or her employment with Company, or
        to work for anyone in competition with the Company.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.4. &nbsp;Reasonableness of Certain Conditions. The parties declare
        that the territorial and time limitations as stated herein, are
        reasonable and properly required for the adequate protection of each
        party&rsquo;s business. If any of the territorial or time limitations
        are deemed to be unreasonable by a court of competent jurisdiction, then
        all parties agree and submit to adjustment of the limitation as the
        court deems reasonable.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.5. &nbsp;Force Majeure. &nbsp;Except for payment obligations, neither
        party shall be liable to the other for delays or failures in performance
        resulting from causes beyond the reasonable control of that party,
        including, but not limited to, acts of God, labor disputes or
        disturbances, material shortages or rationing, riots, acts of war,
        governmental regulations, communication or utility failures, or
        casualties.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.6. &nbsp;Relationship of Parties. The parties are independent
        contractors under this Agreement and no other relationship is intended,
        including a partnership, franchise, joint venture, agency,
        employer/employee, fiduciary, master/servant relationship, or other
        special relationship. &nbsp;Neither party shall act in a manner which
        expresses or implies a relationship other than that of independent
        contractor or bind the other party.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.7. &nbsp;No Third Party Beneficiaries. Unless otherwise expressly
        provided, no provisions of this Agreement are intended or shall be
        construed to confer upon or give to any person or entity other than the
        Company and Customer any rights, remedies or other benefits under or by
        reason of this Agreement. &nbsp;The Company&rsquo;s subsidiaries and
        affiliated entities are express third party beneficiaries of this
        Agreement.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.8. &nbsp;Equitable Relief. Each party acknowledges that a breach by
        the other party of any confidentiality or proprietary rights provision
        of this Agreement may cause the non-breaching party irreparable damage,
        for which the award of damages would not be adequate compensation.
        Consequently, the non-breaching party may institute an action to enjoin
        the breaching party, without the requirement of posting bond, from any
        and all acts in violation of those provisions or any applicable law,
        which remedy shall be cumulative and not exclusive, and the parties
        hereby each consent to the entry of an injunction by any appropriate
        court or arbitral tribunal enjoining any breach or threatened breach of
        those provisions, in addition to any other relief to which the
        non-breaching party may be entitled at law or in equity.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.9. &nbsp;Attorneys&rsquo; Fees. &nbsp;In addition to any other relief
        awarded, the prevailing party in any action arising out of this
        Agreement shall be entitled to its reasonable attorneys&rsquo; fees and
        costs.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.10. &nbsp;Notices. &nbsp;Any notice required or permitted to be given
        by either party under this Agreement shall be in writing and shall be
        personally delivered or sent by a reputable overnight courier service
        (e.g., Federal Express), or by first class mail (certified or
        registered), to the attention of the President or equivalent officer of
        the other party. Notices will be deemed effective two (2) business days
        after mailing, postage prepaid, if mailed, or the next day if sent by
        overnight courier service. Notices shall go to, in the case of Customer,
        to the address provided in the Terms, or, in the case of the Company, to
        our headquarters as provided for on the Website or in the Terms, or to
        any other addresses subsequently provided in writing by a party.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.11. &nbsp;Assignment. &nbsp;Customer may not assign its rights or
        delegate its obligations hereunder, either in whole or in part, whether
        by operation of law or otherwise, without the prior written consent of
        the Company. Any attempted assignment or delegation without the
        Company&rsquo;s written consent will be void. The rights and liabilities
        of the parties under this Agreement will bind and inure to the benefit
        of the parties&rsquo; respective successors and permitted assigns. For
        purposes of this provision, a fifty percent (50%) or more change in
        control of Customer&rsquo;s equity ownership shall constitute an
        assignment. Any assignment or transfer by Customer by operation of law,
        merger, consolidation, transfer of a majority of the voting equity of
        Customer or any similar transaction or series of related transactions
        shall be an assignment prohibited by this provision.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.12. &nbsp;Waiver and Modification. Failure by either party to enforce
        any provision of this Agreement will not be deemed a waiver of future
        enforcement of that or any other provision. Any waiver, amendment, or
        other modification of any provision of this Agreement will be effective
        only if in writing and signed by the parties.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.13. &nbsp;Severability. &nbsp;If any court, arbitrator, or other
        tribunal finds any provision of this Agreement to be unenforceable, that
        provision of the Agreement will be enforced to the maximum extent
        permissible so as to effect the intent of the parties, and the remainder
        of this Agreement will continue in full force and effect.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.14. &nbsp;Arbitration, Jurisdiction, and Applicable Law. &nbsp;Any
        dispute, claim, or controversy arising out of or relating to this
        Agreement, or the breach, termination, enforcement, interpretation, or
        validity thereof, including the determination of the scope or
        applicability of this agreement to arbitrate, shall be determined by
        binding arbitration in Sonoma County, California before an arbitrator,
        rather than in court. &nbsp;The Federal Arbitration Act and federal
        arbitration law shall apply to this Agreement. &nbsp;</span
      ><span class="c7"
        >There is no judge or jury in arbitration, and court review of an
        arbitration award is limited. You and we each agree that any dispute
        resolution proceedings will be conducted only on an individual basis and
        not in a class, consolidated, or representative action. &nbsp;Judgment
        on the Award may be entered in any court having jurisdiction.</span
      ><span class="c4"
        >&nbsp;&nbsp;If for any reason a claim proceeds in court rather than in
        arbitration, </span
      ><span class="c7">the parties waive a right to a jury trial</span
      ><span class="c4"
        >. &nbsp;This clause shall not preclude parties from seeking provisional
        remedies in aid of arbitration from a court of appropriate jurisdiction.
        &nbsp;The parties agree that the Federal Arbitration Act, applicable
        federal law, and the laws of the state of California, without regard to
        principles of conflict of laws, will govern these Terms and Conditions
        and any dispute of any sort that might arise between them. &nbsp;To the
        extent any dispute, claim, or controversy proceeds in court rather than
        arbitration, it shall proceed in the federal or state courts of Sonoma
        County, California. The parties waive any objection they may have to
        jurisdiction and venue in such courts.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.15. &nbsp;Headings. &nbsp;Headings used in this Agreement are for
        ease of reference only and shall not be used to interpret any aspect of
        this Agreement.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.16. &nbsp;Entire Agreement. &nbsp;This Agreement, including all
        documents or exhibits that are incorporated herein by reference,
        constitutes the entire agreement between the parties with respect to the
        subject matter hereof, and supersedes and replaces all prior and
        contemporaneous understandings or agreements, written or oral, regarding
        such subject matter; provided, that, in the event of an inconsistency
        between this Agreement and the terms or conditions associated with
        DCinsites&rsquo;s Digital Marketing, this Agreement shall govern.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.17. &nbsp;Indemnification. Each party (the &ldquo;Indemnifying
        Party&rdquo;) shall indemnify the other party(s) and its directors,
        officers, agents, employees, contractors, affiliates, or subsidiaries
        (collectively referred to as Indemnified Parties) and hold the
        Indemnified Parties harmless from and against any liability, losses,
        costs, damages, and fees (including reasonable attorneys fees) incurred
        by the Indemnified Parties in connection with any breach by the
        Indemnifying Party of any warranty, covenant, or obligation under this
        Agreement.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.18. &nbsp;Limited Liability. The dollar amount of any liability of
        the Company to any Person under this Agreement or of Company&rsquo;s
        indemnification pursuant to this Agreement shall be limited to the
        amount actually paid to Company by such Person for the Services pursuant
        to this Agreement.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.19. &nbsp;Cumulative Remedies. The rights and remedies under this
        Agreement are cumulative and are in addition to and not in substitution
        for any other rights and remedies available at law or in equity or
        otherwise.</span
      >
    </p>
    <p class="c5"><span class="c8"></span></p>
    <p class="c12">
      <span class="c4"
        >5.20. &nbsp;Further Assurances. Each party to this Agreement shall,
        with reasonable diligence, take all such actions and execute all such
        documents as may be reasonably necessary to implement and carry out the
        intent of this Agreement.</span
      >
    </p>
    <p class="c6 c10"><span class="c33"></span></p>
    <p class="c6 c10"><span class="c20"></span></p>
    <p class="c3"><span class="c9">Privacy Policy:</span></p>
    <p class="c12">
      <span class="c4"
        >The information provided by the user on this website shall be kept
        confidential and shall not be shared with anyone. The DATA will neither
        be made accessible to third parties nor transferred in any form or
        manner unless required by law.
      </span>
    </p>
    <p class="c12">
      <span class="c16"><br /></span
      ><span class="c4"
        >Company may share your personal information with our bankers for
        clearing necessary fees payments. This information shall be strictly up
        to the legal permissible limit and not exceeding.
      </span>
    </p>
    <p class="c5"><span class="c4"></span></p>
    <p class="c12">
      <span class="c4"
        >It is sole responsibility of Customer to pick online payment option.
        Company do not recommend/ prefer/promote any particular method. </span
      ><span class="c16"><br /></span
      ><span class="c4"
        >If payment is made by means of a card that you do not personally own,
        the permission of the card owner must always be obtained to make
        payments using the card. In using the system you confirm that you have
        such permission.
      </span>
    </p>
    <p class="c5"><span class="c4"></span></p>
    <p class="c12">
      <span class="c4"
        >Information related to payments using debit or credit card is not
        accessed or stored by the Company.</span
      ><span class="c33">&nbsp;</span><span class="c15"><br /></span>
    </p>
    <p class="c6 c10"><span class="c33"></span></p>
    <p class="c6 c10"><span class="c20"></span></p>
    <p class="c3"><span class="c9">Security:</span></p>
    <p class="c12">
      <span class="c4"
        >All payment details which are entered through this payment gateway are
        encrypted when the Customer, or third party making payment, enters them.
        The site is secure and uses 128-bit encryption to offer secure
        communications by encrypting all data to and from the site the Company
        shall not be liable for any failure by the Customer or third party
        making the payment to properly protect data from being seen on their
        screen by other persons or otherwise obtained by such other persons,
        during the Online Payment process or in respect of any omission to
        provide accurate information of the Online Payment Process.</span
      >
    </p>
    <p class="c6 c10"><span class="c20"></span></p>
    <p class="c11">
      <span class="c9">Variations to the Terms and Conditions:</span
      ><span class="c28">&nbsp;</span>
    </p>
    <p class="c6 c10"><span class="c20"></span></p>
    <p class="c22">
      <span class="c31"
        >Company reserves the right to vary these Terms and Conditions from time
        to time and the current version will be that published on this website.
      </span>
    </p>
    <p class="c22 c10"><span class="c1"></span></p>
    <p class="c22">
      <span class="c26"
        >We reserve the right to decline the acceptance of an online payment if
        your account is in default for any reason. Company may also make
        additions/deletions/alteration to the services offered, at its sole
        discretion. We reserves the right to withdraw the service at any time at
        its discretion. We retain the right to change the terms and conditions
        for Online Fees Payments, without any prior notice.</span
      >
    </p>
    <div>
      <p class="c6 c10"><span class="c18"></span></p>
    </div>
</div>


